@use 'colors';

.main-bar {
  background-color: #45306a;
  min-height: 30px;

}

.audio-menu-button {
  .audio-output-list {
    min-width: 25em;
    padding: 8px;

    .audio-item {
      .audio-name {
        min-width: 12em;
      }

      // .audio-description {
      //   min-width: 12em;
      // }

      .audio-button-muted {
        background-color: #fa0035;
      }

      .audio-slider {
        min-width: 15em;
      }
    }
  }
}
