@use 'colors';

.main-bar {
  background-color: #45306a;
  min-height: 30px;

}

button {
  // margin: 0 14px;
}

box {
  // margin: 0 14px;
}

.audio-menu-button {
  popover {
    min-width: 40em;

    .audio-output-item {
      .audio-slider {
        min-width: 15em;
      }
    }
  }
}
